<?xml version='1.0' encoding='UTF-8'?>
<moldynamics version="0.1">
  <configuration>
    <steps total="200" average_period="10" output_period="1"/>
    <settings deltaT="0.003" temperature="0.850" cut_radio="6.0"/>
    <DCD using="true" period="100" overwrite="false"/>
    <boxfile name="InitialBox"/>
    <potential type="Flat_well" sigma="1.0" epsilon="1.0" m="50" n="10" alpha="0.7"/>
  </configuration>
</moldynamics>
